body {
    background-color: gray;
    color: white;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(79, 79, 79);
}
main {
    background-color: rgb(79, 79, 79);
}
header img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* optional: makes it circular */
}